<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.thorns.studentScore.mapper.TTeacherMapper">
    <select id="selectByIdPassword" resultType="string">
        select tea_password
        from t_teacher
        where tea_id = #{id}
    </select>
    <update id="updateByIdPassword">
        update t_teacher
        set tea_password=#{password}
        where tea_id = #{id}
    </update>
    <!--  根据教师编号或者教师姓名分页查询  -->
    <select id="selectByTeaIdOrTeaNamePage" resultType="top.thorns.studentScore.entity.TTeacher">
        select *
        from t_teacher t
        where
        <if test="dto.teaId!=null">
            t.tea_id=#{dto.teaId}
        </if>
        <if test="dto.teaName!=null">
            t.tea_name like #{dto.teaName}
        </if>
        limit #{dto.pageNow},#{dto.size}
    </select>
    <select id="selectByTeaIdOrTeaNameTotal" resultType="int">
        select count(*)
        from t_teacher t
        where
        <if test="dto.teaId!=null">
            t.tea_id=#{dto.teaId}
        </if>
        <if test="dto.teaName!=null">
            t.tea_name like #{dto.teaName}
        </if>
    </select>
</mapper>
